:root {
  --main-hero-color: #2e2f42;
  --main-text-color: #434455;
  --main-background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: var(--main-background-color);
  color: var(-main-text-color);
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* --------- HEADER ----------------------------------------- */

.header {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-list {
  display: flex;
  align-items: center;
}

.logo-top {
  text-decoration: none;
}

.logo-top {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-style: normal;
}

.logo-top-second {
  color: #2e2f42;
  margin-right: 76px;
}

.header-address {
  font-style: normal;
}

.header-address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-link:hover,
.header-link:focus,
.header-link:active {
  color: #404bbf;
}

.adress-info {
  font-weight: 400;
  font-size: 16px;
  line-height: (24/16);
  letter-spacing: 0.02em;
  color: #434455;
}

/* --------- HERO ----------------------------------------- */

.hero {
  background: var(--main-hero-color);
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.hero-botton {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  padding: 16px 32px;
  border-radius: 4px;
}

.hero-botton:hover,
.hero-botton:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/* --------- ADVANTEGE ----------------------------------------- */

.advantage-list {
  display: flex;
  gap: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage-item {
  /* padding-top: 120px; */
  width: 264px;
  text-align: left;
  flex-basis: calc((100%-72px) / 4);
}

.advantage-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  /* NAVY BLUE */
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantage-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  /* SLATE */
  color: #434455;
}

/* --------- DOING  ----------------------------------------- */

.doing {
  padding-bottom: 120px;
}

.doing-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.doing-item {
  flex-basis: auto;
}

.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  /* NAVY BLUE */
  color: #2e2f42;
  margin-bottom: 72px;
}

/* --------- TEAM  ----------------------------------------- */

.team {
  /* CLOUD */
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-item-description {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
  /* margin-top: 32px; */
  margin-bottom: 8px;
}
.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
  /* margin-bottom: 32px; */
}

/* --------- FOOTER  ----------------------------------------- */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-bottom {
  text-decoration: none;
}

.logo-bottom {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-style: normal;
}

.logo-bottom-second {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #e7e9fc;
  width: 264px;
  margin-top: 16px;
}

/* --------- FILTER  ----------------------------------------- */

.filter-button-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  border-style: none;

  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
}

.filter-button-text:hover,
.filter-button-text:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}

/* --------- GALLERY  ----------------------------------------- */

.gallery {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}

.gallary-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.gallery-list li {
  width: calc((100% - 48px) / 3);
}

.gallery-item-description {
  /* padding: 32px auto 32px 16px; */
  padding-top: 32px;
  padding-right: auto;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.galley-item-titel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  /* margin-top: 32px; */
  /* margin-left: 16px; */
  margin-bottom: 8px;
  /* text-align: left; */
}
.gallery-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #434455;
  /* margin-left: 16px; */
  /* text-align: left; */
}
